ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 50px;
  border-radius: 30px;
  background-color: #f38698;
  padding: 10px 20px;
  border: 2px solid #f87a8f;
  color: #161616;
}

li:hover {
  color: #f38698;
  background-color: #161616;
  border: 2px solid #161616;
  cursor: pointer;
}

body{
    background-size: k;
}
